/*
 * fileinfo, pixabay, tineye color extractor, adobe cc
 */
:root {
  box-sizing: border-box;
  font-size: calc(0.5em + 1vw);
  font-weight: normal;
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", 
				Tahoma, Sans-Serif;
  color: #272727;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

.__RYAN_MCCLUE__ {
  margin: 0;	
  padding: 0;
  font-size: 1rem;
  display: flex;
}

.ColLeft__ {
	font-size: 1em;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	min-height: 100vh;
	height: 100%;
	background-color: grey;
	top: 0;
	position: sticky;
}

.ColLeft__Headshot__ {
	font-size: 1em;	
}

.ColLeft__Headshot__Img {
	display: inline-block;
	margin: 0 auto;
	width: 40%;
	border-radius: 50%;
	border: 0.2em solid black;
}

.ColLeft__Headshot__Caption__ {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	text-align: left;
}

.ColLeft__Headshot__Caption__Name {
	text-decoration: none;	
	text-align: left;
	flex: 1 1 100%;
}

.ColLeft__Headshot__Caption__TwitterLink {
	text-decoration: none;	
	flex: 1 1 100%;
}

.ColLeft__VertNav__ {
	font-size: 1em;
}

.ColLeft__VertNav__OpenCloseButton {
	border: none;
}

.ColLeft__VertNav__LinksList__ {
	font-size: 1em;
	list-style-type: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.ColLeft__VertNav__LinksList__LinkItem__ {
	font-size: 1em;
	margin: 1em 0;
	flex: 1 1 100%;
}

/* icomoon --> inline svg */
.ColLeft__VertNav__LinksList__LinkItem__:hover .ColLeft__VertNav__LinksList__LinkItem__Image {
	fill: red;
}

.ColLeft__VertNav__LinksList__LinkItem__Link {
	text-decoration: none;	
	text-align: left;
	width: 100%;
}




.ColRight__ {
	margin-left: auto;
	background-color: goldenrod;
	height: 100%;
}

.ColRight__Main__RowHome__ {
	grid-area: "ColRightRowHome";	
}

.ColRight__Main__RowHome__HeroVideo {
	height: 100vh;	
	max-width: 100%;
}

.ColRight__Main__RowAbout__ {
	grid-area: "ColRightRowAbout";	
}

.ColRight__Main__RowProjects__ {
	grid-area: "ColRightRowProjects";	
}

.ColRight__Main__RowBlog__ {
	grid-area: "ColRightRowBlog";	
}

.ColRight__Main__RowContact__ {
	grid-area: "ColRightRowContact";	
}

.ColRight__RowFooter__ {
	grid-area: "ColRightRowFooter";	
}
