/*
 * fileinfo, pixabay, tineye color extractor, adobe cc
 */
/* assume 1rem = 16x */
html {
  box-sizing: border-box;
  font-size: calc(0.5em + 1vw);
  font-weight: normal;
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", 
				Tahoma, Sans-Serif;
  color: #272727;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

body {
	margin: 0;	
	padding: 0;
}

.__RYAN_MCCLUE__ {
  font-size: 1rem;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: 
	"ColLeft ColRight"
}

.ColLeft__ {
	font-size: 1em;
	grid-area: "ColLeft";
	height: 100vh;
	background-color: grey;
	top: 0;
	position: sticky;
}

.ColLeft__Headshot__ {
	font-size: 1em;	
}

.ColLeft__Headshot__Img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	border-radius: 50%;
	border: 0.2em solid black;
}

.ColLeft__Headshot__Caption__TwitterLink {
	text-decoration: none;	
}

.ColLeft__VertNav__ {
	font-size: 1em;
}

/* ACTUAL
	display: none;		
*/

.ColLeft__VertNav__OpenCloseButton {
	border: none;
}

.ColLeft__VertNav__LinksList__ {
	font-size: 1em;
	list-style-type: none;
}

.ColLeft__VertNav__LinksList__LinkItem__ {
	font-size: 1em;
	margin: 2em 0;
}

.ColLeft__VertNav__LinksList__LinkItem__Link {
	text-decoration: none;	
}

.ColRight__ {
	grid-area: "ColRight";
	display: grid;
	grid-template-rows: repeat(6, auto); 
	grid-template-areas:
		"ColRightRowHome"
		"ColRightRowAbout"
		"ColRightRowProjects"
		"ColRightRowBlog"
		"ColRightRowContact"
		"ColRightRowFooter";
	background-color: goldenrod;
	height: 100%;
}

.ColRight__Main__RowHome__ {
	grid-area: "ColRightRowHome";	
}

.ColRight__Main__RowHome__HeroVideo {
	height: 100vh;	
	max-width: 100%;
}

.ColRight__Main__RowAbout__ {
	grid-area: "ColRightRowAbout";	
}

.ColRight__Main__RowProjects__ {
	grid-area: "ColRightRowProjects";	
}

.ColRight__Main__RowBlog__ {
	grid-area: "ColRightRowBlog";	
}

.ColRight__Main__RowContact__ {
	grid-area: "ColRightRowContact";	
}

.ColRight__RowFooter__ {
	grid-area: "ColRightRowFooter";	
}
